@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Roboto:ital,wght@0,400;0,900;1,700&display=swap');
#root{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.card{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.card::-webkit-scrollbar{
  display: none; /* Chrome, Safari, and Opera */
}